spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:minglog
    username: sa
    password:
    driver-class-name: org.h2.Driver

  data:
    web:
      pageable:
        one-indexed-parameters: true # pageable 할 때 첫번째 page 를 0 이 아닌 1 부터 시작 하겠다는 설정
        default-page-size: 5